# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/

# Streamlit
.streamlit/

# SQLite DB
*.db

# Secrets / Sessions
linkedin_session.json
.env
.env*
*.key
*.pem
*.sqlite

# OS
.DS_Store
Thumbs.db
.vscode/
.idea/
